.wrapper {
  display: grid;
  grid-template-columns: 450px auto;
  grid-template-rows: 60px 250px auto 50px;
  grid-gap: 3px; 
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

header {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

header h1 {
  margin: 12px 0;
  padding: 0;
}

nav ul {
  display: flex;
  width: 335px;
  justify-content: space-between;
}

nav ul li {
  width: 100px;
  list-style-type: none;
  background: #000;
  text-align: center;
  padding: 6px 4px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section.hero {
  grid-column: span 2;
  background-image: url(./wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: 0 65%;
  color: white;
  background-size: cover;
  text-align: center;
}

section.hero blockquote {
  font-size: xx-large;
  margin-bottom: 0;
}

section.hero p {
  font-size: large;
  font-style: italic;
}

.form input, .form textarea {
  width: 90%;
  margin: 5px 0;
  padding: 5px;
  font-size: 110%;
}

.form textarea {
  height: 80px;
}

.form label {
  font-weight: bold;
}

#save-btn {
  background: #000;
  color: #fff;
  padding: 5px;
  width: 200px;
}

.quote {
  list-style-type: none;
  margin: 15px;
  padding: 4px 25px 4px 0;
  background: #eee;
  border: 1px solid #ccc;
}

.quote blockquote {
  font-size: large;
}

.quote p {
  text-align: right;
  font-style: italic;
}

footer {
  grid-column: span 2;
  padding: 0 10px;
  background: #333;
  color: #fff;
}

.content {
  padding: 10px;
}